html,body{
        height:100%;
        margin:0;
        padding:0;
}

* {
        box-sizing:border-box;
}

.split-box{
        position:absolute;
        width:100%;
        height:75%;
        padding:1em;
}

.top-box {
        top:0;
        background:#ffffff;
        color:#000000;
}

.bottom-box {
        bottom:0;
	    background:#ffffff;
        color:#000000;
}

.bottom-box a{
        color:#ffffff;
        display:block;
        overflow: scroll;
}

@media screen and (max-width:600px) {
        .split-box {
                position:relative;
                width:100%;
                height:45%;

        }
}
